<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mas.learnoverlunch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mas.learnoverlunch.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="mas.learnoverlunch.AddEvent"
            android:label="@string/create_event" >
        </activity>
        <activity
            android:name="mas.learnoverlunch.EnterFeedback"
            android:label="Leave Feedback" 			
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name="mas.learnoverlunch.EventActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mas.learnoverlunch.HomeScreenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mas.learnoverlunch.ListEventUsers"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="mas.learnoverlunch.ListViewActivity"
            android:label="Events List" >
        </activity>
        <activity
            android:name="mas.learnoverlunch.ShowItemsActivity"
            android:label="Choose an option" >
        </activity>
        <activity
            android:name="mas.learnoverlunch.SignupActivity"
            android:label="@string/text_signup" >
        </activity>
       
    </application>

</manifest>